In [12]:
import joblib
import pandas as pd

In [3]:
file_name='House_price_prediction.sav'
sav_model =joblib.load(file_name)

In [8]:
## lets predict a price for the below data
##'bath','balcony','total_sqft_int','bhk','price_per_sqft','area_typeSuper built-up  Area','area_typeBuilt-up  Area',
##'area_typePlot  Area','availability_Ready To Move'

bath = [2,3,2,4]
balcony = [2,1,3,4]
total_sqft_int = [1250,1300,1500,1800]
bhk = [2,3,1,4]
price_per_sqft = [5000,7500,4400,6000]
area_typeSuper_built_up_Area = [1,0,1,1]
area_typeBuilt_up_Area = [0,1,1,1]
area_typePlot_Area = [0,0,1,1]
availability_Ready_To_Move = [1,1,0,0]

raw_data = pd.DataFrame({'bath':bath,'balcony':balcony,'total_sqft_int':total_sqft_int,'bhk':bhk ,
                         'price_per_sqft':price_per_sqft,'area_typeSuper built-up  Area':area_typeSuper_built_up_Area,
                         'area_typeBuilt-up  Area':area_typeBuilt_up_Area,'area_typePlot  Area':area_typePlot_Area,
                         'availability_Ready To Move':availability_Ready_To_Move
                        })
raw_data

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move
0,2,2,1250,2,5000,1,0,0,1
1,3,1,1300,3,7500,0,1,0,1
2,2,3,1500,1,4400,1,1,1,0
3,4,4,1800,4,6000,1,1,1,0

In [19]:
print("The price of the house is:")
output = sav_model.predict(raw_data)
output

The price of the house is:

array([ 62.53 ,  96.813,  65.446, 108.4  ])

In [29]:
pred = pd.DataFrame({'Price':output,'bath':bath,'balcony':balcony,'total_sqft_int':total_sqft_int,'bhk':bhk ,
                         'price_per_sqft':price_per_sqft,'area_typeSuper built-up  Area':area_typeSuper_built_up_Area,
                         'area_typeBuilt-up  Area':area_typeBuilt_up_Area,'area_typePlot  Area':area_typePlot_Area,
                         'availability_Ready To Move':availability_Ready_To_Move})
print("The predicted Price for Houses with the given input is:")
pred

The predicted Price for Houses with the given input is:

,Price,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move
0,62.530,2,2,1250,2,5000,1,0,0,1
1,96.813,3,1,1300,3,7500,0,1,0,1
2,65.446,2,3,1500,1,4400,1,1,1,0
3,108.400,4,4,1800,4,6000,1,1,1,0